@keyframes panelIn {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes panelOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  } 
}
