h1 {
  font-family: "Alkalami", serif;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -3.6pt;
  word-spacing: -4.2pt;
}
h3 {
  font-family: "Gemunu Libre", sans-serif;
}
.titulo {
  font-size: 2rem;
  text-align: center;
}
