//Colores
$colorA: #fdd649;
$colorAHover: #ad922e;
$colorTransparente: rgba(0, 0, 0, 0.2);
$colorTransparenteOscuro: rgba(0, 0, 0, 0.6);
$colorB: #6699cc;
$colorBHover: #3a5a7a;
$colorC: #1f1f1f;
$colorD: #6cae75;
$colorBg: #ef8354;
$colorBtnAgregar: #4da167;
$colorBtnAgregarHover: #356b46;
$colorBtnAgregarSec: black;
