footer {
  height: 24vh;
  width: 100%;
  background-color: $colorD;
  border-top: 1rem solid $colorTransparente;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      a {
        font-size: 2.5rem;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      all {
        padding: 2px;
      }
      :not(:last-child) {
        margin: 0 0 0.5rem 0;
      }
    }
    .iconos {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}
