// Panel de notas
#seccionPaneles {
  background-color: $colorBg;
  min-height: 58vh;
  width: 100%;
  .panel {
    min-height: 58vh;
    width: 100%;
    height: 100%;
    input {
      height: 1rem;
    }
  }
}
